*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
    -webkit-highlight-color:transparent;
   
}
.main{
     width: 100%;
     height: 100%;
     background-color:#000000;
     border-radius: 25px;
     border: 3px solid rgb(241, 181, 181);
     background-image:url(https://images.unsplash.com/photo-1635524168565-fd454def6512?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTN8fGNvZGluZyUyMGJnfGVufDB8fDB8fHww);
     background-repeat: no-repeat;
     background-size: auto;
     background-position: top;

}
.main:hover{
    box-shadow: 0 0 5px green,
                0 0 25px lightcyan,
                0 0 50px purple, 0 0 100px blue;
    border:1px solid skyblue;
}
.stack{
    min-height:50%;
    width: 230px;
    border:2px solid white;
    border-radius: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(https://images.unsplash.com/photo-1653507445935-4cc453d1a357?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTB8fGJhY2tncm91bmQlMjBncmFkaWVudCUyMCUyMGFic3RyYWN0JTIwcGFpbnRpbmd8ZW58MHx8MHx8fDA%3D);
    mask-image: linear-gradient(var(--direction), rgba(0,0,0,1) 40%, rgba(0,0,0,0) 60%);
    mask-position: 50% 50%;
    z-index: 1;
    box-shadow: 0 0 5px lightcyan,
                0 0 25px salmon ;
}
.stack:hover{
    box-shadow: 0 0 5px green,
    0 0 25px lightcyan,
    0 0 50px purple, 0 0 100px blue;
             border:1px solid skyblue;
             cursor: pointer;
}
.user{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center;
}
.user img{
    width:100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50px;
    margin-top: 30%;
    
}
.user img:hover{
    box-shadow: 0 0 5px lightcyan,
                0 0 25px salmon ;
                cursor: pointer;
                border: 3px double lightcyan;
}
.user h3{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    opacity: 0.78;
}
.user h4{
    font-size: 0.80rem;
    font-weight: normal;
    color: white;
    opacity: 0.67;
}
.user a{
    text-decoration: none;
    color: white;
}
.user a:hover{
    color: red;
    cursor: pointer;
}
.follow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 50px;
    padding: 0 4%;
}
button{
    color: white;
    padding: 4% 6%;
    font-size: 0.80rem;
    text-align: center;
    background-color: rgb(54, 122, 250);
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-weight: bold;
}
button:hover{
    color:orange  ;
    box-shadow: 0 0 5px lightcyan,
    0 0 25px salmon ;
    cursor: pointer;
    
}
.follow i{
    color: rgb(212, 208, 208);
    padding: 5%;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid grey ;
    border-radius: 17px;
    font-weight: bold;
    opacity: 0.78;
}
.follow i:hover{
    animation:tilt 5s ease-in-out;
}
@keyframes tilt{
    0%{
        rotate:0deg;
    }
    30%,70%{
        rotate: 25deg;
    }
    50%,87%{
        rotate: -25deg;
    }
}
.socials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    padding:24%;
}
.socials i{
    color: rgb(212, 208, 208);
    background-color: transparent;
    cursor: pointer;
    font-weight: normal;
    opacity: 0.95;
}
.socials i:hover,
.follow i:hover{
    color: orange;
}
